image:
  repository: ${{ values.image_repository }}
  tag: ${{ values.image_tag }}

service:
  port: ${{ values.service_port }}

ingress:
  hosts:
    - host: ${{ values.domain }}
      paths:
        - path: /
          pathType: Prefix
  # tls: []  # or add staging TLS if you use it

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

metrics:
  enabled: false