{{- range .Values.workers }}
{{- if .enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" $ }}-worker-{{ .name }}
  labels:
    {{- include "app.labels" $ | nindent 4 }}
    component: worker-{{ .name }}
spec:
  replicas: {{ .replicas }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" $ | nindent 6 }}
      component: worker-{{ .name }}
  template:
    metadata:
      annotations:
        {{- with $.Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        reloader.stakater.com/auto: "true"
        reloader.stakater.com/secret: "{{ include "app.fullname" $ }}-secrets"
        reloader.stakater.com/configmap: "{{ include "app.fullname" $ }}-config"
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") $ | sha256sum }}
        checksum/secrets: {{ include (print $.Template.BasePath "/externalsecret.yaml") $ | sha256sum }}
      labels:
        {{- include "app.labels" $ | nindent 8 }}
        {{- include "app.selectorLabels" $ | nindent 8 }}
        component: worker-{{ .name }}
        {{- with $.Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "app.serviceAccountName" $ }}
      securityContext:
        {{- toYaml $.Values.podSecurityContext | nindent 8 }}
      containers:
        - name: worker
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          securityContext:
            {{- toYaml $.Values.securityContext | nindent 12 }}
          {{- include "app.appKeyEnv" $ | nindent 10 }}
          {{- include "app.envFrom" $ | nindent 10 }}
          command: ["/entrypoint.sh"]
          args: {{ toJson .command }}
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
          {{- with $.Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with $.Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
{{- end }}
