site_name: ${{ values.app_name }}
site_description: React Web App - ${{ values.app_name }}
docs_dir: docs
site_dir: site
theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top

nav:
  - Home: index.md
  - App Routes: api.md
  - Health Endpoints: health-endpoints.md
  - GitLab CI: gitlab-ci.md
  - Kubernetes: kubernetes.md
  - Deployment: deployment.md
  - Secrets: secrets.md

plugins:
  - search
  - include-markdown
